<a href="https://colab.research.google.com/github/JoseChacon6/University-UNMSM/blob/master/EJERCICIOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Crear dos variables numéricas, sumarlas y mostrar el resultado que diga: "El resultado del problema es: "

In [0]:
def sum(a,b):
  S = a + b
  print("El resultado del problema es {}".format(S))

In [0]:
sum(15,20)

El resultado del problema es 35

2. Realizar una función que devuelva el IGV de un producto.

In [0]:
def precio(a):
  IGV = 0.18 * a
  return IGV

In [0]:
precio(26)

4.68

3. Realizar una función de dos parámetros numéricos que devuelva el número mayor y diga cuál es (usar print).

In [0]:
def numeros(a,b):
  if a > b:
    print(a, "es el numero mayor")
  else:
    print(b, "es el numero mayor")

In [0]:
numeros(1,5)

5 es el numero mayor

4. Mostrar los número pares del 1 al 50

In [105]:
valor = []
for x in range(51):
  if x % 2 == 0:
    print(x, end= " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

5. Crea una variable numérica y si esta entre 0 y 10, mostrar un mensaje indicándolo.

In [0]:
def numero(a):
  if a > 0 and a < 10:
    print (a, "se encuentra entre 0 y 10")
  else:
    print (a, "no esta entre 0 y 10")

In [0]:
numero(6)

6 se encuentra entre 0 y 10

In [0]:
def numero(a):
  if a > 0 and a < 10:
    print ("{} se encuentra entre 0 y 10".format(a))
  else:
    print ("{} no se encuentra entre 0 y 10".format(a))

In [0]:
numero(25)

25 no se encuentra entre 0 y 10

1. Crea una variable numérica y si esta entre 0 y 10, mostrar un mensaje indicándolo; de la misma forma si está entre 11 y 20, muestre otro mensaje diferente y si esta entre 21 y 30 otro mensaje.

In [0]:
def num(a):
  if a >= 0 and a <= 10:
    print("{} se encuentra entre 0 y 10".format(a))
  elif a >= 11 and a <=20:
    print("{} se encuentra entre 11 y 20".format(a))
  elif a >= 21 and a <=30:
    print("{} se encuentra entre 21 y 30".format(a))
  else:
    print("{} valor no valido".format(a))

In [35]:
num(21)

21 se encuentra entre 21 y 30

2. Mostrar el índice para cada caracter de su nombre. (Usar sentencia for)

In [115]:
nombre = ["J" , "O" , "S" , "E" ]
for i in range(len(nombre)):
  print (" {}, es indice de {}  ".format([i],nombre[i]) )

 [0], es indice de J
 [1], es indice de O
 [2], es indice de S
 [3], es indice de E

3.Realizar una función que tome una lista de palabras y devuelva la mas larga.

In [0]:
lista = ["casa", "aprobar", "programacion", "20"]

Realizar una función que pida el valor de los tres lados de un triángulo y calcule el valor de su área y perímetro.

In [0]:
def areatriax(a,b,c):
  perimetro = a+b+c
  s = (a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c))*0.5
  return (area, perimetro)

In [136]:
areatriax(12,10,20)

(1039.5, 42)

Realizar una función que devuelva el factorial de un número, teniendo como parámetro el número

In [0]:
def factorial(n):
  f = 1
  for i in range(2,n+1):
    f= f*i
  return(f)

In [143]:
factorial(3)

6

Realizar una función que devuelva sucesión Fibonacci, teniendo como parámetro la cantidad de términos

In [0]:
def fibo(n):
  if n > 2:
    return n
  else:
    return fibo(n-1) + fibo(n-2)

In [152]:
print(fibo(5))

5